@import "tailwindcss";

:root {
  --ruido-negro:    #0A0A0A;
  --ruido-naranja:  #FF5C00;
  --ruido-amarillo: #FFE500;
  --ruido-blanco:   #F5F0E8;
  --ruido-gris:     #1A1A1A;
}

body {
  background: var(--ruido-negro);
  color: var(--ruido-blanco);
  font-family: 'Space Grotesk', sans-serif; /* temporalmente, cambiaremos */
}